.side-bar {
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 0 116px 0 0;
  height: 56px;
}

.side-bar__user-avatar {
  width: 56px;
}

.side-bar__user-name {
  margin: 0;
  width: 157px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}
